<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary" defaultHref="/client/menu/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="detail-product-container">
    <div class="image-product-container">
      @if(product | async) {
        <ion-img class="image-product" [src]="(product | async)?.image"></ion-img>
      }
    </div>
    <div class="content-product-container">
      <div class="star-container">
        <div class="name-price-container" >
          <ion-text class="product-name"> {{(product | async)?.name}} </ion-text>
          <ion-text class="product-price"> {{(product | async)?.price | currency}} </ion-text>
        </div>
        <div class="icon-container">
          @if(!isFavorite){
            <ion-icon class="touchable icon-favorite" name="heart" (click)="addToFavorites()"></ion-icon>
            <ion-text class="text-favorite" color="secondary">Agregar a favoritos</ion-text>
          } @else { 
            <ion-icon class="touchable icon-favorite" name="heart-dislike" (click)="removeFromFavorites()"></ion-icon>
            <ion-text class="text-favorite" color="secondary"> Quitar de favoritos</ion-text>
          }
        </div>
      </div>
      <ion-text class="product-description"> {{(product | async)?.description}}</ion-text>
    </div>
  </div>
  <div class="button-container" >
    <ion-button (click)="addOneToProductFromCart()" expand="block" class="custom-button">Agregar al carrito</ion-button>
  </div>
</ion-content>