<ion-header>
  <ion-toolbar>
    <ion-title> Productos </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="content-container">
    @for( product of mockProducts; track product ) {
        <div class="product-container">
          <div class="image-container">
            <ion-img src="{{ product.image }}" alt="{{ product.name }}" class="image-product"></ion-img>
          </div>
          <div class="content-product">
            <ion-text color="primary">
              {{ product.name }}
            </ion-text>
            <ion-text color="danger">
              {{ product.price | currency }}
            </ion-text>
          </div>
          <div class="footer-container">
            <ion-icon class="touchable icon-medium" color="primary" name="create-outline"></ion-icon>
            <ion-icon class="touchable icon-medium" color="danger" name="trash-outline"></ion-icon>
          </div>
        </div>
    }
  </div>
</ion-content>
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button>
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>