<ion-content class="background-container">
  <ion-card class="image-container">
    <img src="assets/images/logotipo.png" class="logo" alt="logo">
  </ion-card>
  <div class="content-container">
    <form action="" [formGroup]="loginForm" class="form-container">
      <div class="input-container">
        <ion-input class="custom-input" type="text" formControlName="email" placeholder="Email"></ion-input>
      </div>
      <div class="input-container">
        <ion-input class="custom-input" type="password" formControlName="password"
          placeholder="Contraseña"></ion-input>
      </div>
      <div class="error-message">
        @if(errorLogin) {
        <ion-text color="danger">
          {{errorLogin}}
        </ion-text>
        }
      </div>
      <div class="input-container">
        <ion-button (click)="onLoginClick()" [disabled]="!loginForm.valid" class="custom-button button-login"
          type="submit" shape="round">Ingresar</ion-button>
      </div>
    </form>
    <div class="footer-container">
      <ion-text color="secondary">
        ¿Aún no tienes cuenta?
      </ion-text>
      <ion-text color="primary" class="touchable" [routerLink]="['/auth/register']">
        Registrarse
      </ion-text>
      <ion-text color="secondary" class="candidate-text">
        Jairo Camarillo | jairoantoniocamarillotinoco&#64;gmail.com
      </ion-text>
    </div>
  </div>
</ion-content>
<ion-loading [isOpen]="loading" duration="3000" message="Iniciando sesión" [duration]="3000"
  spinner="circles"></ion-loading>