ion-button {
    --background: var(--ion-color-primary);
    --color: var(--button-text-color);
    --border-radius: var(--button-border-radius);
    --border-width: var(--button-border-width);
    --border-color: var(--button-border-color);
    text-transform: capitalize;
    font-weight: 700;
    font-size: 16px;
    --border-radius: 10px;
    --padding-start: 45px;
    --padding-end: 45px;
  }